Dockerfile
.dockerignore
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
README.md
.next

/.pnp
.pnp.js
/coverage
/out/
/build
.DS_Store
*.pem
.env*.local
.vercel
*.tsbuildinfo
next-env.d.ts
